<div class='content w-full'>
	<h1 class='p-relative'>Friends</h1>
	<div class='friends-page d-grid m-20 gap-20'>
		{{#each data}}
			<div class='friend bg-white rad-6 p-20 p-relative'>
				<div class='contact'>
					<i class='fa-solid fa-phone'></i>
					<i class='fa-regular fa-envelope'></i>
				</div>
				<div class='txt-c'>
					<img
						class='rad-half mt-10 mb-10 w-100 h-100'
						src='{{image}}'
						alt=''
					/>
					<h4 class='m-0'>{{fullname firstname lastname}}</h4>
					<p class='c-grey fs-13 mt-5 mb-0'>
						{{specialist}}
					</p>
				</div>
				<div class='icons fs-14 p-relative'>
					<div class='mb-10'>
						<i class='fa-regular fa-face-smile fa-fw'></i>
						<span>{{friendsNumber}} Friend</span>
					</div>
					<div class='mb-10'>
						<i class='fa-solid fa-code-commit fa-fw'></i>
						<span>{{projectsNumber}} Projects</span>
					</div>
					<div>
						<i class='fa-regular fa-newspaper fa-fw'></i>
						<span>{{articlesNumber}} Articles</span>
					</div>
					{{#if isVIP}}
						<span class='vip fw-bold c-orange'>VIP</span>
					{{/if}}
				</div>
				<div class='info between-flex fs-13'>
					<span class='c-grey'>Joined {{joinedAt}}</span>
					<div>
						<a
							class='bg-blue c-white btn-shape'
							href='/profile'
						>Profile</a>
						<a class='bg-red c-white btn-shape' href='#'>Remove</a>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>